body {
  background-image: url("../img/homebg.png");
}
.home {
  color: green;
  padding: 5.5% 0 0 30%;
}
.home h1 {
  margin: 0 0 0 0;
}
.box {
  width: 40%;
  /* height: 50vh; */
  margin: 0 0 0 30%;
  padding: 0 0 0 0%;
  border-radius: 10px 10px;
  background-color: cornflowerblue;
}
.box h1,p {
  color: aliceblue;
  font-size: 40px;
}

